@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* 전역 스타일 */
body {
    margin: 0;
    padding: 0;
    font-family: GmarketSansMedium, sans-serif;
    background-color: #FFFFFF;
}

.hall-container {
    display: grid; /* Grid 레이아웃 사용 */
    grid-template-columns: repeat(auto-fit, 250px); /* 카드의 고정 너비를 250px로 설정 */
    gap: 50px; /* 카드 간 간격 */
    padding: 20px; /* 컨테이너 내부 여백 */
    margin: 0 auto; /* 컨테이너를 화면 중앙에 위치 */
    justify-content: center; /* Grid 전체를 중앙 정렬 */
    max-width: 1500px; /* 컨테이너의 최대 너비 */
    box-sizing: border-box; /* 패딩 포함한 너비 계산 */
}

.hall-card {
    width: 250px; /* 카드의 고정된 너비 */
    border: 1px solid #ddd; /* 카드 테두리 추가 */
    border-radius: 5px; /* 카드 모서리를 둥글게 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 카드 그림자 */
    overflow: hidden; /* 카드 영역을 벗어난 내용 숨기기 */
    text-align: center; /* 카드 내부 텍스트 중앙 정렬 */
    background-color: #fff;
    padding: 8px;
}

/* 카드 이미지 스타일 */
.hall-card img {
   margin-top:10px;
    width: 90%; /* 이미지가 카드의 너비에 맞게 조정 */
    height: 150px; /* 고정된 높이 설정 */
    object-fit: cover; /* 이미지 비율을 유지하며 카드 크기에 맞게 조정 */
}

.hall-card a {
    text-decoration: none; /* 언더라인 제거 */
    color: inherit; /* 텍스트 색상을 상속받도록 설정 */
}

.hall-card p {
    margin: 10px; /* 필요하면 하단 여백 유지 */
    font-size: 16px;
    color: #333;
    text-align: center;
}

/* 카드 호버 효과 */
.hall-card:hover {
    transform: scale(1.05); /* 호버 시 확대 효과 */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* 호버 시 그림자 강조 */
}

.hall-card p:hover {
    color: gray;
}
